body {

    font-family: Arial, Helvetica, sans-serif;
    
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;

}

header {
	margin-left: 34pt;
}

.eu {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    margin-left: 15pt;
	text-align: justify;
    letter-spacing: 1;
    word-spacing: 3pt;
    line-height: 15pt;
    text-indent: 15pt;
	padding: 8px;
}
footer {
    margin-top: 30px;
    padding-left: 33pt;
    
}

